<h1>Listing charities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
    </tr>
  </thead>

  <tbody>
    <% @charities.each do |charity| %>
      <tr>
        <td>
          <% if charity.charity_website %>
            <a href=http://<%= charity.charity_website %> target='_blank'><%= charity.charity_legal_name %></a>
          <% else %>
            <%= charity.charity_legal_name %>
          <% end %>
        </td>
        <td><%= charity.charity_size %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @charities %>
<%= page_entries_info @charities %>

<br/>
<a href="/Business.html">Back</a>
